html {
	justify-content: center;
	width: 100vw;
	margin: auto;
}

body {
	max-width: 1080px;
	margin: 0 auto;
}



/* @media (min-width: 975px) {
	body {
		min-width: 100vw;
	}
} */

.title {
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, red, blue);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 3.7em;
	font-family: Lilita One;
	letter-spacing: 0.2rem;
}

.sell {
	/* margin-right: 5px; */
}

.login {
	padding-left: 5px;
}

.calendar-btn {
	border: none;
	box-shadow: 1px 3px 1px;
}

.calendar-btn > a {
	font-family: Lilita one
}

.path {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.action > a:hover {
	color: white;
}

.timer {
	margin-top: 6rem;
	height: 400px;
}

.shoe-place {
	background-color: red;
	height: 40%;
}

@media (prefers-color-scheme: dark) {
	body {
	  background: #000;
	  color: #dcb;
	}

	.calendar-btn {
		background-color: white;
		color: black;
	}
	
	.swap {
		color: #dcb;
	}
}



