body {
	justify-content: center;
	max-width: 350px;
	margin: auto;
	letter-spacing: 2px;
}

nav {
	display: fixed;
	top: 0;
	left: 0;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
}

.home-btn {
	margin-top: 1rem;
	text-decoration: none;
	color: black;
}

.nav-bar > ul {
	list-style: none;
}

.nav-bar > ul > li > a {
	text-decoration: none;
}

.hero {
	color: black;
	display: flex;
	text-align: center;
	flex-direction: column;
	font-family: Lilita One;
}

.line {
	width: 65%;
	height: 5px;
	background-color: white;
	margin: auto;
	margin-bottom: 28px;
}

.container {
	width: 350px;
	height: 80%;
	background: rgba(205, 205, 205, 0.1);
	margin: auto;
	border: 2px solid white;
	border-radius: 7px;
	color: white;
	display: flex;
	flex-direction: column;
}

.month {
	background-color: grey;
	padding: 5px;
	font-family: Lilita One;
}

.box {
	margin-bottom: 65px;
}

.shoe {
	font-size: 1.3em;
	color: black;
	/* background-color: rgba(0, 0, 0, 0.3); */
}
	
img {
	border-radius: 7px;
}

.info {
	font-size: 15px;
	padding: 20px;
}

hr {
	width: 80%;
	margin: 20px;
}

@media (min-size: 550px) {
	
}

@media (prefers-color-scheme: dark) {
	.dark {
	  background: #000;
	  color: #dcb;
	}
	.month {
		background-color: #dcb;
		color: #000;
	}
	.shoe {
		color: #dcb;
	}
  }

  .test {
	width: 100px;
	height: 100px;
	background-color: blueviolet;
	position: absolute;
	margin: 20px;
	z-index: -3;
	border-radius: 10%;
  }