body {
	justify-content: center;
	max-width: 350px;
	margin: auto;
}

.hero {
	color: black;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.line {
	width: 65%;
	height: 5px;
	background-color: white;
	margin: auto;
	margin-bottom: 28px;
}

.container {
	width: 350px;
	height: 80%;
	background: rgba(205, 205, 205, 0.1);
	margin: auto;
	border: 2px solid white;
	border-radius: 7px;
	color: white;
	display: flex;
	flex-direction: column;
}

.month {
	background-color: grey;
	padding: 5px;
}

.shoe {
	font-size: 1.3em;
	color: black;
	/* background-color: rgba(0, 0, 0, 0.3); */
}
	
img {
	border-radius: 7px;
}

@media (min-size: 550px) {
	
}