body {
	justify-content: center;
	max-width: 350px;
	margin: auto;
}

.hero {
	color: black;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.line {
	width: 65%;
	height: 5px;
	background-color: white;
	margin: auto;
	margin-bottom: 28px;
}

.container {
	width: 350px;
	height: 80%;
	background: rgba(5, 5, 5, 0.1);
	margin: auto;
	border: 2px solid white;
	border-radius: 7px;
	color: white;
	display: flex;
	flex-direction: column;
}

.cycle {
	margin: auto 0;
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
}

.month {
	background-color: grey;
}

.shoe {
	color: black;
	margin: 0 auto;
}